* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'roboto', sanserif;
    font-size: 1rem;
    background: rgba(242, 244, 247, 1);
  }

  .container {
    width: 1440px;
    margin: 0 auto;
  }

  /*navbar*/
  .navbar {
    background:rgba(6, 14, 40, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 100px;
    height: 100px;
    margin-left: 20px;
    padding: 10px;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
  }
  
  nav li {
    list-style-type: none;
    padding: 5px 30px; 
    position: relative;
  }
  
  nav a {
    text-decoration: none;
    color: rgba(228, 58, 25, 1);
    padding: 1em;
    font-size: 15px;
  }

/*drop down*/
  nav ul li ul {
    background:rgba(95, 116, 183, 1);
    display: none;
    position: absolute;
    padding: 10px;
  }

  nav ul li:hover ul {
    display: block;
  }

  nav ul li ul li a:hover {
    background-color: rgba(95, 116, 183, 1);
  }

  nav ul li ul li {
    width: 180px;
    border-radius: 4px;
  }

  nav ul li ul li a {
    padding: 8px 14px;
  }
  /*drop down*/
  
  .navbar ul li a:hover {
    transition:1s;
    color: white;
    background-color: rgba(139, 41, 21, 1);
    border-radius:10px;
   }   
  /*Navbar*/

  /*hero image*/
  .hero {
    background-image: url(images/1950s/Hero\ Background.jpg);
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero img {
    display: flex;
    position: absolute;
    top: 300px;
    right: 50px;
  }

  .partition {
    margin-top: 50px;
  }

  /*all photo content*/
  .section {
    margin-top: 25px;
    display: flex;
    gap: 1em;
    box-sizing: border-box;
  }


  .card-title {
    display: flex;
    align-items: center;
  }

  .card-images {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 1em;
    flex: 1;
  }

  .card-image-photo {
    width: 45%;
    height: 215px;
  }

  .card-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
  /*all photo content*/

  /*constructor section*/
  .constructor-content {
    margin: 0, auto;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .constructor-content p {
    line-height: 2em;
  }

  .constructor-carousel {
    background:rgba(6, 14, 40, 1);
  }
  /*constructor section*/

  /* informative text and decoration in each section */
  .card-content {
    align-content: center;
    flex: 2;
    padding: 4em;
    /* border-top: 15px solid rgba(228, 58, 25, 1); */
  }

  .card-content iframe {
    display: block;
    margin: 0 auto;
    width: 560px;
    height: 315px;
  }

  .paragraph-line::before {
    content: "";
    display: block;
    width: 250px;
    height: 15px;
    margin-bottom: 15px;
    background: rgba(228, 58, 25, 1);
  }

  /* .paragraph-formula {
    padding: 4em;
  } */

  .main-carousel p::before {
    content: "";
    all: unset;    
  }

  .card-content p {
    line-height: 1.5em;

  }

  /* flickity, and carousel*/
  .main-carousel {
    margin: 25px;
    background: rgba(6, 14, 40, 1);
    /* width: 40%; */
  }
  

  .card {
    width:250px;
    min-height: 794px;
    padding:20px;
    margin:10px;
    background: rgba(95, 116, 183, 1);
    /* text-align: left; */
    color: white;
  }

  .card img {
    display: block;
    margin: 10px auto;
  }

  .card-content iframe {
    margin-top: 25px;
  }

  /* footer */
  footer {
    background: rgba(6, 14, 40, 1);
    color: rgba(242, 244, 247, 1);
    text-align:center;
    padding:30px;
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .secondary-navigation li {
    list-style-type: none;
    padding: 2px 10px;
  }
  
  .secondary-navigation a {
    text-decoration: none;
    color: rgba(242, 244, 247, 1);
    padding: 1em;
    display: flex;
    left: 300px;
  }

  .secondary-navigation ul li a:hover {
    transition:1s;
    color: white;
    background-color: rgba(139, 41, 21, 1);
    border-radius:10px;
   }

  .social-icons img {
    display: flex;
  }