* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'roboto', sanserif;
    font-size: 1rem;
    background: rgba(242, 244, 247, 1);
  }

  .container {
    width: 1440px;
    margin: 0 auto;
  }

  /*navbar*/
  .navbar {
    background:rgba(6, 14, 40, 1);

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 100px;
    height: 100px;
    margin-left: 20px;
    padding: 10px;
    /* left: 30%;
    top:25%;
    transform: translate(0,0);
    transition: 3s;
    border-radius: 50px;
    margin-left: -50px;
    padding-top: 15px;
    padding-bottom: 15px; */
  }
  
  nav ul {
    display: flex;
    justify-content: center;
  }
  
  nav li {
    list-style-type: none;
    padding: 5px 50px; 

  }
  
  nav a {
    text-decoration: none;
    color: rgba(228, 58, 25, 1);
    padding: 1em;
  }
  
  .navbar ul li a:hover {
    transition:1s;
    color: white;
    background-color: rgba(139, 41, 21, 1);
    border-radius:10px;
   }
  /*Navbar*/

  /*hero image*/
  .hero {
    background-image: url(images/1950s/Hero\ Background.jpg);
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .partition {
    margin-top: 50px;
  }

  /*all photo content*/
  .section {
    margin-top: 25px;
    display: flex;
    gap: 1em;
    box-sizing: border-box;
  }

  .card-images {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 1em;
    flex: 1;
  }

 

  .card-image-photo {
    width: 45%;
    height: 215px;
  }

  .card-images img {
     width: 100%;
    height: 100%;
    object-fit: cover;

  }
  /*all photo content*/

  /*constructor section*/
  .constructor-content {
    margin: 0, auto;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .constructor-content p {
    line-height: 2em;
  }

  .constructor-carousel {
    background:rgba(6, 14, 40, 1);
  }
  /*constructor section*/

  /* informative text and decoration in each section */
  .card-content {
    align-content: center;
    flex: 2;
    /* border-top: 15px solid rgba(228, 58, 25, 1); */
  }

  .card-content iframe {
    display: block;
    margin: 0 auto;
    width: 560px;
    height: 315px;
  }

  .card-content p::before {
    content: "";
    display: block;
    width: 250px;
    height: 15px;
    margin-bottom: 15px;
    background: rgba(228, 58, 25, 1);
  }

  .card-content p {
    line-height: 2em;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  footer {
    background:rgba(6, 14, 40, 1);
  }